@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.short-card {
  &-wrapper {
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    text-align: left;
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);

    @include respond-to(tablet) {
      max-height: 278px;
    }

    @include respond-to(desktop) {
      width: 70%;
      max-height: 278px;
      margin-left: 40px;
    }
  }

  &__img {
    width: 50%;
    max-width: 200px;
    img {
      width: 100%;
      height: 100%;
      min-height: 250px;
      min-width: 200px;
    }
  }

  &__info {
    padding: 0 20px;
    position: relative;
  }

  &__title {
    padding: 20px 0;
  }

  &__description {
    text-align: justify;
    font-size: 14px;
    display: block;
    max-height: 135px;
    overflow: hidden;

    @include respond-to(mobile) {
      display: none;
    }
  }

  &__controls {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;

    @include respond-to(mobile) {
      padding-top: 0;
      padding-bottom: 20px;
    }
  }

  &__link {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid $color-grey-light;
    background-color: $color-primary-light;
    color: $text-color-button;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 11px;
    font-weight: 700;
    outline: none;
    &--margin{
      margin-right: 25px;
    }
  }
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 55%;
    textarea {
      width: 100%;
      height: 200px;
      padding: 10px 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      resize: none;
      outline: none;
      margin-bottom: 5px;
    }
    input {
      width: 100%;
      height: 30px;
      padding: 10px 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      outline: none;
      margin-bottom: 7px;
      margin-top: 5px;
    }
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}
